

body{
    background-color:black;
    background-image: url("assets/images/devil.jpg");
}

h1{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    text-align: center;
    padding-top: 13%;
    font-size:30px;
    padding-left:0%;
}
#game{
    color: white;
    text-align: center;
    padding-left: 5%;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

